.back {
  background-color: rgb(54, 69, 79);
  padding-bottom: 1px;
}

/* rgb(255, 92, 92) tema 1*/

.deta {
  margin: 30px;
  background-color: #444654;
  padding: 30px;
}

.parag {
  background-color: white;
  margin: 15px;
}

#att, h2 {color: white;}

@media(min-width: 800px) {
  .deta {
    padding: 5%;
  }

  .parag {
    font-size: 190%;
  }

  .summar {
    color: white;
    font-size: 150%;
  }
}
