body {
  background-color: #343541;
  text-align: center;
  margin: 0;
}

div {
  margin-top: 25.5px;
}

details {
  background-color: rgb(54, 69, 79);
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
}

.spn {
  background-color: white;
}

.hamburguer {
  position: relative;
  display: block;
  top: 8px;
  margin-left: 80%;
}

.hamburguer span{
  display: block;
  margin: 4px;
  width: 30px;
  height: 3.5px;
  background-color: black;
}

.top {
  position: fixed;
  background-color: #2e2f38;
  height: 50px;
  width: 100%;
  top: 0;
}

h1 {
  color: white;
  margin-top: 32%;
}

@media (min-width: 800px) {
  details {
    margin-left: 4%;
    margin-right: 4%;
    padding: 25px;
  }

  .hamburguer {
    margin-left: 94%;
  }
}